# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


#VISUAL STUDIO
# Ignore les fichiers générés par Visual Studio
.vs/
/bin/
/obj/
*.suo
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.vc.db

# Ignore les fichiers de sauvegarde
*~
*.bak

# Ignorer les fichiers de dépendance générés par Visual Studio
*.sdf
*.opensdf
*.cachefile

# Ignorer les fichiers de configuration utilisateur de Visual Studio
*.suo
*.user
*.userosscache

# Ignorer les fichiers de journalisation
*.log
*.tlog

# Ignorer les fichiers temporaires
*.tmp

# Ignorer les fichiers de build pour les outils d'édition de liens
*.ilk

# Ignorer les fichiers de bibliothèque statique
*.lib

# Ignorer les fichiers exécutables
*.exe
*.out
*.app

*.pdb
Anciens_Groupes/projetNathan/ProjectNathanVS/ProjectNathanVS/x64/Debug/vc143.idb
*/X64/*
*/Debug/*
*/*/generated/*.obj
*/Projet2024/x64/*
*.blend1


# PYTHON PYCHARM
*.toc
*.html
*.pyc
*/scripts/pythonGenerateGraph/build/*
*/scripts/pythonGenerateGraph/.idea/*